:root {
    --darkestpurple: #1A1423;
    --darkpurple: #372549;
    --gray: #5f5d5e;
    --pink: #B75D69;
    --light: #EACDC2;
    --white: #ffffff;
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--darkpurple);
} 

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 2em;
} 

h5 {
    font-size: 1.75em;
}

.button {
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 30px;
}

.button--basic {
    border: 5px solid var(--darkestpurple);
    color: var(--darkestpurple);
    background-color: var(--light);
}

.button--basic:hover {
    background-color: var(--darkestpurple);
    color: var(--light);
    cursor: pointer;
}

.button--reversed {
    background-color: var(--darkestpurple);
    color: var(--light);
    border: 5px solid var(--darkestpurple);
}

.button--reversed:hover {
    background-color: var(--light);
    color: var(--darkestpurple);
    cursor: pointer;
}


.button--noclick {
    background-color: var(--pink);
    color: var(--light);
    border: 5px solid var(--light);
}

table {
    border-collapse: collapse;
    margin: 2em;
}

td, th {
    border: var(--pink) solid;
    padding: .5rem;
    text-align: center;
}

caption {
    font-size: 1.5em;
    color: var(--darkestpurple);
    font-weight: 700;
}

img {
    width: 100%;
    display: block;
}

.image {
    width: 33vw;
}


