:root {
    --darkestpurple: #1A1423;
    --darkpurple: #372549;
    --purple: #774C60;
    --pink: #B75D69;
    --light: #EACDC2;
}


html {
    font-family: 'Hanken Grotesk', sans-serif;
} 

header {
    padding-top: 1.5em;
    padding-bottom: 60vh;
    background-color: var(--darkestpurple);
}

.navigace {
    display: flex;
    justify-content: space-around;
}

.navigace__logo {
    font-size: 4rem;
    color: var(--light);
    text-decoration: none;
    font-weight: 700;
}

.navigace__menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigace__li {
    list-style-type: none;
}

.navigace__a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--light);
}

.welcome-text {
    text-align: center;
    color: var(--light);
    margin-top: 50vh;
}

.welcome-text__h1 {

}

h1 {
    font-size: 48px
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
} 

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}



