:root {
    --darkestpurple: #1A1423;
    --darkpurple: #372549;
    --gray: #5f5d5e;
    --pink: #B75D69;
    --light: #efd8cf;
    --white: #ffffff ;
}

header {
    padding-top: 1.5em;
    padding-bottom: 40vh;
    background-color: var(--darkestpurple);
}

.navigace {
    display: flex;
    justify-content: space-around;
}

.navigace__logo {
    font-size: 1.25em;
    color: var(--light);
    text-decoration: none;
    font-weight: 700;
}

.navigace__menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigace__li {
    list-style-type: none;
}

.navigace__a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--light);
}

.navigace__a:hover {
    border-bottom: 5px solid var(--light);
}

.welcome-text {
    text-align: center;
    color: var(--light);
    margin-top: 25vh;
}

.welcome-text__h1 {
    font-size: 3.5em;
    font-weight: 700;
    padding-left: 2em;
    padding-right: 2em;
}

main {
    padding-left: 5em;
    padding-right: 5em;
}

.buttons__div {
    margin: 2em;
}

.code {
    font-size: 1.25em;
    background-color: var(--gray);
    display: inline-block;
    color: var(--white);
}

.h1-logo {
    margin: 0em;
}
.mark {
    background-color: var(--pink);
    color: var(--white);
}

section {
    padding-bottom: 2em;
    border-bottom: 5px solid var(--darkpurple);
}

.button-demo {
    border: 3px solid var(--light);
    display: inline-block;
}

.button-demo:hover {
    background-color: var(--light);
    color: var(--darkestpurple);
    cursor: pointer;
}

.buttons__div {
    background-color: var(--white);
    padding: 2em;
    display: inline-block;
}